<div id="container">
  <div id="table">
<table class="table">
  <thead>
    <tr>
      <th scope="col">Imie</th>
      <th scope="col">Nazwisko</th>
      <th scope="col">Nazwa firmy</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody *ngFor="let item of RelationList">
    <tr>
      <th scope="row">{{item.firstName}}</th>
      <td>{{item.lastName}}</td>
      <td>{{item.name}}</td>
      <td>
        <button id="buttonStyle" (click)="Remove(item.id)">Usuń</button>
      </td>
      </tr>
    </tbody>
</table>
    </div>
  <div id="inputs">
<select [(ngModel)]="doctor.id"><option *ngFor="let item1 of DoctorList" [value]="item1.id">
 {{item1.academicTitle}} {{item1.firstName}} {{item1.lastName}} {{item1.email}} {{item1.phoneNumber}} {{item1.specialization}}
  </option></select>
    <select [(ngModel)]="workPlace.id"><option *ngFor="let item2 of WorkPlaceList" [value]="item2.id">
      {{item2.name}} {{item2.place}} {{item2.street}} {{item2.houseNumber}} {{item2.zipCode}} {{item2.voivodeship}}
      </option></select>
<button id="buttonStyle" (click)="AddRelation(doctor.id, workPlace.id)">dodaj</button>
  </div>
  </div>
  
